{% if site %}
<table class="row header">
  <tr>
    <td class="center" align="center">
      <center>

        <table class="container">
          <tr>
            <td class="wrapper last">
  
              <table class="twelve columns">
                <tr>
                
                  <td class="six sub-columns">
                    {% if site.logo %}
                    <img src="{{site.logo}}" title="{{site.name}}" alt="{{site.name}}">
                    {% else %}
                    <h2>{{site.name}}</h2>
                    {% endif %}
                  </td>
                  <td class="six sub-columns last" style="text-align:right; vertical-align:middle;">
                    <span class="template-label">{{site.desc}}</span>
                  </td>
                  
                </tr>
              </table>
  
            </td>
          </tr>
        </table>

      </center>
    </td>
  </tr>
</table>
{% endif %}