{% extends 'layout.html' %}

{% block css %}
<link rel="stylesheet" href="../styles/basic.css" />
{% endblock %}

{% block content %}

  <table class="row">
    <tr>
      <td class="wrapper last">

        <table class="twelve columns">
          <tr>
            <td>

              <h3>{{title}}</h3>
  						<p class="lead">{{desc}}</p>
              {% if banner %}
  						<img src="{{banner}}">
              {% endif %}

            </td>
            <td class="expander"></td>
          </tr>
        </table>

      </td>
    </tr>
  </table>

  {% include "./modules/callout.html" %}

  {% if subtitle %}
  <table class="row">
    <tr>
      <td class="wrapper last">

        <table class="twelve columns">
          <tr>
            <td>

              <h3>{{subtitle}} 
                {% if subnote %}
                <small>{{subnote}}</small>
                {% endif %}
              </h3>
              {% if subdesc %}
              <p>{{subdesc}}</p>
              {% endif %}

            </td>
            <td class="expander"></td>
          </tr>
        </table>

      </td>
    </tr>
  </table>
  {% endif %}

  {% include "./modules/button.html" %}

  {% include "./modules/contact.html" %}

  {% include "./modules/footer.html" %}

{% endblock %}