{% extends 'layout.html' %}

{% block css %}
<link rel="stylesheet" href="../styles/basic.css" />
{% endblock %}

{% block content %}
      
  <!-- content start -->
  <table class="row">
    <tr>
      <td class="wrapper last">
    
        <table class="twelve columns">
          <tr>
            <td>
              <h3>{{title}}</h3>
  						<p class="lead">{{desc}}</p>
              {% if banner %}
              <img src="{{banner}}">
              {% endif %}
              {% if bannerdesc %}
              <p>{{bannerdesc}}</p>
              {% endif %}
            </td>
            <td class="expander"></td>
          </tr>
        </table>
    
      </td>
    </tr>
  </table>
  
  {% include "./modules/articles.html" %}
  
  {% include "./modules/callout.html" %}
  
  {% include "./modules/contact.html" %}
  
  {% include "./modules/footer.html" %}

{% endblock %}