{% extends 'layout.html' %}

{% block css %}
<link rel="stylesheet" href="../styles/basic.css" />
{% endblock %}

{% block content %}
      
  <!-- content start -->
  <table class="row">
    <tr>
      <td class="wrapper last">

        <table class="twelve columns">
          <tr>
            <td>
              <h2>Welcome, Daneel Olivan</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
              <img width="580" height="300" src="http://placehold.it/580x300">
            </td>
            <td class="expander"></td>
          </tr>
        </table>

        <table class="twelve columns">
          <tr>
            <td class="panel">
              <p>Phasellus dictum sapien a neque luctus cursus. Pellentesque sem dolor, fringilla et pharetra vitae. <a href="#">Click it! »</a></p>
            </td>
            <td class="expander"></td>
          </tr>
        </table>

      </td>
    </tr>
  </table>
  
  <br>  <!-- Break Tag for row -->
    
  <table class="row">
    <tr>
      <td class="wrapper">

        <table class="six columns">
          <tr>
            <td>
              
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet.</p>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet.</p>

              <a class="button" href="#">
                <table>
                  <tr>
                    <td>
                      Click Me!
                    </td>
                  </tr>
                </table>
              </a>

            </td>
            <td class="expander"></td>
          </tr>
        </table>

      </td>
      <td class="wrapper last">

        <table class="six columns">
          <tr>
            <td class="panel">
              <h6>Header Thing &raquo;</h6>
              <p>Sub-head or something</p>
              <a class="link" href="#">
                <table>
                  <tr>
                    <td>
                      Just a Plain Link &raquo;
                    </td>
                  </tr>
                </table>
              </a>
              <hr>
              <a class="link" href="#">
                <table>
                  <tr>
                    <td>
                      Just a Plain Link &raquo;
                    </td>
                  </tr>
                </table>
              </a>
              <hr>
              <a class="link" href="#">
                <table>
                  <tr>
                    <td>
                      Just a Plain Link &raquo;
                    </td>
                  </tr>
                </table>
              </a>
              <hr>
              <a class="link" href="#">
                <table>
                  <tr>
                    <td>
                      Just a Plain Link &raquo;
                    </td>
                  </tr>
                </table>
              </a>
              <hr>
              <a class="link" href="#">
                <table>
                  <tr>
                    <td>
                      Just a Plain Link &raquo;
                    </td>
                  </tr>
                </table>
              </a>
              <hr>
              <a class="link" href="#">
                <table>
                  <tr>
                    <td>
                      Just a Plain Link &raquo;
                    </td>
                  </tr>
                </table>
              </a>
              <hr>
              <a class="link" href="#">
                <table>
                  <tr>
                    <td>
                      Just a Plain Link &raquo;
                    </td>
                  </tr>
                </table>
              </a>
              <hr>
              <a class="link" href="#">
                <table>
                  <tr>
                    <td>
                      Just a Plain Link &raquo;
                    </td>
                  </tr>
                </table>
              </a>
              <hr>
              <a class="link" href="#">
                <table>
                  <tr>
                    <td>
                      Just a Plain Link &raquo;
                    </td>
                  </tr>
                </table>
              </a>
            </td>
            <td class="expander"></td>
          </tr>
        </table>
        <br>
        <table class="six columns">
          <tr>
            <td class="panel">
              <h6 style="margin-bottom:5px;">Connect With Us:</h6>
              <a class="tiny-button full facebook" href="#">
                <table>
                  <tr>
                    <td>
                      Facebook
                    </td>
                  </tr>
                </table>
              </a>
              <hr>
              <a class="tiny-button full twitter" href="#">
                <table>
                  <tr>
                    <td>
                      Twitter
                    </td>
                  </tr>
                </table>
              </a>
              <hr>
              <a class="tiny-button full google-plus" href="#">
                <table>
                  <tr>
                    <td>
                      Google +
                    </td>
                  </tr>
                </table>
              </a>
              <br>
              <h6 style="margin-bottom:5px;">Contact Info:</h6>
              <p>Phone: <b>408.341.0600</b></p>
              <p>Email: <a href="mailto:hseldon@trantor.com">hseldon@trantor.com</a></p>
            </td>
            <td class="expander"></td>
          </tr>
        </table>

      </td>
    </tr>
  </table>
  <br>
  <br>
  
  {% include "./modules/footer.html" %}

{% endblock %}