.facebook table td {
  background: #3b5998;
  border-color: #2d4473;
}

.facebook:hover table td {
  background: #2d4473 !important;
}

.twitter table td {
  background: #00acee;
  border-color: #0087bb;
}

.twitter:hover table td {
  background: #0087bb !important;
}

.google-plus table td {
  background-color: #DB4A39;
  border-color: #CC0000;
}

.google-plus:hover table td {
  background: #CC0000 !important;
}

.template-label {
  color: #999;
  font-weight: bold;
  font-size: 12px;
}

.callout .wrapper {
  padding-bottom: 20px;
}

.callout .panel {
  background: #ECF8FF;
  border-color: #b9e5ff;
}

.header {
  background: #efefef;
}

.footer .wrapper {
  background: #ebebeb;
}

.footer h5 {
  padding-bottom: 10px;
}

table.columns .text-pad {
  padding-left: 10px;
  padding-right: 10px;
}

table.columns .left-text-pad {
  padding-left: 10px;
}

table.columns .right-text-pad {
  padding-right: 10px;
}

@media only screen and (max-width: 600px) {

  table[class="body"] .right-text-pad {
    padding-left: 10px !important;
  }

  table[class="body"] .left-text-pad {
    padding-right: 10px !important;
  }
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.desc {
  font-size: 14px;
}